div{
   text-align: center;
    font-size: 25px;
}
#username-id{
    font: normal 25px/1.6 system-ui, sans-serif;
    border: 1px solid silver;
    margin-bottom: 15px;
}
#email-id{
    font: normal 25px/1.6 system-ui, sans-serif;
    border: 1px solid silver;
    margin-bottom: 15px;
}
#email-id2{
    font: normal 25px/1.6 system-ui, sans-serif;
    border: 1px solid silver;
    margin-bottom: 15px;
}
#password-id{
    font: normal 25px/1.6 system-ui, sans-serif;
    border: 1px solid silver;
    margin-bottom: 15px;
}
#password-id2{
    font: normal 25px/1.6 system-ui, sans-serif;
    border: 1px solid silver;
    margin-bottom: 15px;
}
#checkbox-id{
    font: normal 25px/1.6 system-ui, sans-serif;
    border: 1px solid silver;
    margin-bottom: 15px;
}
#button-id{
    background-color: green;
    color: white;
    font: normal 40px/1.2 system-ui, sans-serif;
    border: 1px solid silver;
    margin-bottom: 15px;
}
#message-id1{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 90px;
}
#checkbox-id{
    margin-left: 345px;
}
